pandas==1.5.3
numpy==1.23.5
tqdm==4.66.1
openai-whisper==20231117
transformers==4.36.2
sentencepiece==0.1.99
scikit-learn==1.2.2
xgboost==1.7.6
joblib==1.2.0
torch==1.13.1
ipykernel
SpeechRecognition
librosa
numpy
torch
transformers
scikit-learn
tqdm
torchaudio
matplotlib
seaborn